﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Engineer/Engineer.Master" AutoEventWireup="true" CodeBehind="MyProfile.aspx.cs" Inherits="HelpDesk.Engineer.MyProfile" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <script type="text/javascript">
        function validate() {
            var EngineerName = document.getElementById('<%=txtengineername.ClientID%>').value;
            var Email = document.getElementById('<%=txtemailid.ClientID%>').value;
            var Contactno = document.getElementById('<%=txtcontactno.ClientID%>').value;
            if (EngineerName == "" || EngineerName == null || Email == "" || Email == null || Contactno == "" || Contactno == null) {
                alert("Kindly Enter All Fields");
                return false;
            }
            var x = document.getElementById("<% = txtemailid.ClientID %>").value;
            var atpos = x.indexOf("@");
            var dotpos = x.lastIndexOf(".");
            if (atpos < 1 || dotpos < atpos + 2 || dotpos + 2 >= x.length) {
                alert("Kindly Enter valid Email Id");
                return false;
            }
        }
    </script>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div class="page_bar clearfix">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page_title">My Profile</h1>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="col-lg-offset-3 col-lg-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group">
                        <asp:UpdatePanel ID="addadminprofileUpd" runat="server">
                            <ContentTemplate>
                                <asp:UpdateProgress ID="prgAdd" runat="server" AssociatedUpdatePanelID="addadminprofileUpd">
                                    <ProgressTemplate>
                                        <div class="update"></div>
                                    </ProgressTemplate>
                                </asp:UpdateProgress>
                                <div class="form-group">
                                    <label for="EngineerName">Engineer Name</label>
                                    <asp:TextBox ID="txtengineername" runat="server" CssClass="form-control"></asp:TextBox>
                                </div>
                                <div class="form-group">
                                    <label for="EmailId">EmailId</label>
                                    <asp:TextBox ID="txtemailid" runat="server" CssClass="form-control"></asp:TextBox>
                                </div>
                                <div class="form-group">
                                    <label for="ContactNo">ContactNo</label>
                                    <asp:TextBox ID="txtcontactno" runat="server" CssClass="form-control"></asp:TextBox>
                                    <asp:HiddenField ID="useridhf" runat="server" />
                                </div>
                                <div class="form-group">
                                    <asp:Button ID="updateBtn" CssClass="btn btn-success" runat="server" Text="Update" OnClientClick="return validate()" OnClick="updateBtn_Click" />
                                    <input type="reset" class="btn btn-default" value="Cancel" data-dismiss="modal" />
                                </div>

                            </ContentTemplate>
                        </asp:UpdatePanel>
                    </div>
                </div>
            </div>
        </div>
    </div>

</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="BottomContentPlaceHolder" runat="server">
</asp:Content>
