body{
    font-family:"Source Sans Pro", Arial, sans-serif;
}
/* square style */
.img-thumbnail,
.thumbnail,
.btn,
.btn-group .dropdown-menu,
.btn-group .btn,
.btn-group .btn:first-child:not(:last-child),
.btn-group .btn:last-child:not(:first-child),
.btn-group-vertical .btn:first-child:not(:last-child),
.btn-group-vertical .btn:last-child:not(:first-child),
.table-bordered,
.table-bordered tr:first-child th:first-child,
.table-bordered tr:first-child th:last-child,
.table-bordered tr:last-child td:first-child,
.table-bordered tr:last-child td:last-child,
.input-group .btn,
.input-group .dropdown-menu,
.input-group .form-control,
.input-group .input-group-addon,
.dropdown-menu,
.dropdown-menu .dropdown-submenu .dropdown-menu,
.form .form-control,
.form .btn,
.form-control,
.label,
.alert,
.alert .btn,
.progress,
.breadcrumb,
.tooltip .tooltip-inner,
.popover,
.popover-title,
.nav-list-panel,
.nav-tabs li > a,
.tabs-below .nav-tabs li > a,
.tabs-right .nav-tabs li > a,
.tabs-left .nav-tabs li > a,
.nav-tabs .dropdown-menu,
.tabs-below .nav-tabs .dropdown-menu,
.nav-pills li a,
.nav-pills .dropdown-menu,
.navbar,
.navbar .dropdown-menu,
.pagination li:first-child a,
.pagination li:first-child span,
.pagination li:last-child a,
.pagination li:last-child span,
.pager li a:hover,
.pager li a:focus,
.panel,
.panel-group .panel,
.panel-group .panel-heading,
.panel-group .panel-body,
.breadcrumb-arrow li:first-child a,
.modal-content,
.well,
.list-group-item:first-child,
.list-group-item:last-child {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
body {
  background: #ecf0f1;
  padding-top: 40px;
}
.p-l-0 {
    padding-left:0;
}
.p-r-0 {
    padding-right:0;
}
/* remove webkit inner shadow */
textarea,
input[type="text"],
input[type="password"],
input[type="submit"] {
  -webkit-appearance: none;
}
.p-l-0 {
    padding-left:0px;
}
.p-r-0 {
    padding-right:0px;
}
/* webkit extra margin fix */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  button {
    margin: 0;
  }
}
.modal-content {
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}
.modal-footer {
  padding: 10px 20px 11px;
  text-align: center;
  border-top: 1px dashed #ddd;
  background: #f8f8f8;
}
.modal-header {
  padding: 15px 15px 8px;
  border-bottom: none;
}
.modal-header .close {
  margin-top: -10px;
  margin-right: -4px;
}
.modal-title {
  font: 400 18px / 22px "Source Sans Pro", Arial, sans-serif;
}
.modal-backdrop {
  background: #000;
}
.modal-backdrop.in {
  opacity: 0.6;
  filter: alpha(opacity= 60 );
}
.btn,
.btn.disabled,
.btn[disabled] {
  border-color: #d3d7d7;
}
.btn:hover,
.btn:focus,
.btn:active,
.btn.active {
  background: #d3d7d7;
}
.btn {
  -webkit-transition: border-color 0.3s, background-color 0.3s;
  transition: border-color 0.3s, background-color 0.3s;
}
.btn-default {
  color: #333333;
  background-color: #ffffff;
  border-color: #cccccc;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  color: #333333;
  background-color: #ebebeb;
  border-color: #adadad;
}
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #ffffff;
  border-color: #cccccc;
}
.btn-default .badge {
  color: #ffffff;
  background-color: #333333;
}
.btn-primary {
  color: #ffffff;
  background-color: #2986b9;
  border-color: #2477a4;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #226e98;
  border-color: #195372;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #2986b9;
  border-color: #2477a4;
}
.btn-primary .badge {
  color: #2986b9;
  background-color: #ffffff;
}
.btn-success {
  color: #ffffff;
  background-color: #64b92a;
  border-color: #59a425;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  color: #ffffff;
  background-color: #529822;
  border-color: #3e721a;
}
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  background-image: none;
}
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: #64b92a;
  border-color: #59a425;
}
.btn-success .badge {
  color: #64b92a;
  background-color: #ffffff;
}
label {
  font-size: 14px;
  display: block;
  font-weight: normal;
}
.form-control {
  border-width: 1px;
  border-style: solid;
  border-color: #ddd #eee #eee #ddd;
  padding: 6px 16px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.form-control:-moz-placeholder,
.form-control::-moz-placeholder,
.form-control:-ms-input-placeholder,
.form-control::-webkit-input-placeholder,
.form-control.placeholder {
  color: #bdc3c7;
}
.form-control:focus {
  -webkit-backface-visibility: hidden;
  outline: none;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  cursor: not-allowed;
  opacity: 0.4;
  filter: alpha(opacity= 40 );
}
.radio,
.radio-inline,
.checkbox,
.checkbox-inline {
  margin-left: 4px;
}
.radio input,
.radio-inline input,
.checkbox input,
.checkbox-inline input {
  margin-top: 2px;
}
.radio label,
.radio-inline label,
.checkbox label,
.checkbox-inline label {
  display: inline-block;
  font-size: 13px;
  vertical-align: 2px;
  margin: 0;
}
.help-block {
  font-size: 14px;
  color: #888;
  margin-bottom: 0;
}
.help-block a {
  color: #888888;
}
label,
.help-block {
  padding-left: 4px;
  padding-top:10px;
}
.login_heading {
  /*font: 800 18px/22px "Source Sans Pro", sans-serif;*/
  margin: 0 0 10px;
  overflow: hidden;
  font-size: 20px;
}
.login_heading span {
  color: #888;
}
.login_heading span a {
  color: #888;
}
.register-block {
    width:100%;
    background:#fff;
}
.submit_section {
  margin-top: 30px;
}
.login_container {
  /*width: 380px;*/
  margin: 0 auto;
  margin-top: 0%;
  position: relative;
 
}
.login_container > .form {
  /*width: 380px;*/
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  background: #fff;
  border: 1px solid #ddd;
}
#login_form {
    background:#fff;
    padding:15px;
    margin-top:30px;
}
#register_form {
     background:#fff;
    padding:15px;
}
.signup-button {
    width:auto;
    margin-bottom:15px;
}
.animated {
  -webkit-animation-duration: 700ms;
  animation-duration: 700ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeOutDown {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}
@keyframes fadeOutDown {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
}
.fadeOutDown {
  -webkit-animation-name: fadeOutDown;
  animation-name: fadeOutDown;
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
@media (max-width: 479px) {
  .login_container {
    width: 240px;
  }
  .login_container form {
    width: 240px;
  }
}

